:root {
    --error-color: rgb(255, 167, 167);
    --nav-bgcolor: #FFFFFF;
    --nav-fgcolor: rgb(34, 31, 32);
    --nav-border-color: #c5baba;
    --gallery-color: #FFFFFF;
    --main-color: #FAFAFA;
    --default-border-radius: 3px;
    --btn-primary-color: rgb(179, 37, 77);
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px 5px;
    margin-bottom: 20px;
    border-radius: var(--default-border-radius);
    border: var(--default-border-radius) solid var(--nav-border-color);
}

.scrolling-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.scrolling-wrapper::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
.scrolling-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--nav-border-color);
}
.scrolling-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.scrolling-wrapper img.card {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto 10px;
}
div#video-container-id,
div#preview-container-id {
    position: relative;
    overflow: hidden;
    padding: 20px 20px;
    /* width: 640px;
    height: 480px; */
}
video#video-id,
canvas#preview-canvas {
    min-width: 100%; 
    min-height: 100%;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    outline: 7px solid rgba(43, 16, 1, 0.73);
}
.camera-header {
    margin: 20px auto 40px;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

.stickers {
    height:  auto;
}

.stickers img {
    width : 100px;
    height: 100px;
}

#upload-btn,
#save-btn,
#capture-btn {
    height: auto;
}
.usr-imgs-preview {
    width: 100%;
    margin: 2px 2px;

}
.user-images-area {
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}




