div#video-container-id {
    position: relative;
    overflow: hidden;
    padding: 0px 0px;
}

video#video-id,
canvas#canvas {
    /* right: 0; 
    bottom: 0; */
    min-width: 100%; 
    min-height: 100%;
    width: 100%; 
    height: auto; 
    /* z-index: -100; */
    overflow: hidden;
}


.full-height {
    height: 100%;
}


.heading {
    margin: auto auto 50px;
}

.shot-btn {
    width: 30%;
    height: 50px;
    font-size: 20px;
}

.border-5 {
    border-width: 5px !important;
}

.stickers img {
    width : 100px;
    height: 100px;
    /* display: inline; */
}

.jumbotron {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    background: rgb(250, 128, 128);
}

.preview-area {
    display: none;
}
