:root {
    --error-color: rgb(255, 167, 167);
    --nav-bgcolor: #FFFFFF;
    --nav-fgcolor: rgb(34, 31, 32);
    --nav-border-color: #c5baba;
    --gallery-color: #FFFFFF;
    --main-color: #FAFAFA;
    --default-border-radius: 3px;
    --btn-primary-color: #b3254d;
}

.camera-header {
    margin: 20px auto 40px;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Pacifico', cursive !important;
    color: var(--btn-primary-color);
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px 5px;
    margin-bottom: 20px;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--nav-border-color);
}

.scrolling-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.scrolling-wrapper::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
.scrolling-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--btn-primary-color);
}

.scrolling-wrapper img.card {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    margin: auto 10px;
}

.video-container,
.preview-container {
    border: 2px solid var(--nav-border-color);
}
.preview-container {
    min-height: 300px;
    max-width: 100%;
    width: 100%;
}

.video-container video,
.preview-container canvas {
    z-index: 0;
    max-width: 100%;
    object-fit: scale-down;
}

.cu-buttons, .save-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "FontAwesome" !important;
}

i.fa-camera-retro, i.fa-upload, i.fa-save {
    font-size: 2rem !important;
    color: var(--btn-primary-color) !important;
    font-style: normal !important;
}

.cu-buttons button:focus, .cu-buttons button:hover {
    outline: none;
    box-shadow: none;
    /* border: 2px solid var(--btn-primary-color); */
}

.main-section {
    border: 1px solid var(--nav-border-color);
    padding: 5px;
}

.user-images-area {
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.usr-image-container {
    position: relative;
    height: auto;
}

.delete-btn-container {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility .3s ease-out, background-color .4s ease-out;
}

.delete-btn-container  i {
    font-family: "FontAwesome";
    font-size: 2rem;
    font-style: normal;
    /* color: rgb(195, 13, 13) !important; */
    color: var(--nav-bgcolor) !important;
    transition: font-size .3s ease-out;
}

.usr-img-preview {
    width: 100%;
    margin: 2px 2px;
}

.usr-image-container:hover .delete-btn-container {
    visibility: visible;
    background-color: rgba(0,0,0,0.7);
}

.usr-image-container .delete-btn-container i:hover {
    font-size: 4rem;
}
