@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import "camera.css";

:root {
    --error-color: rgb(255, 167, 167);
    --nav-fgcolor: #B3254D; /* #fff; */
    --nav-bgcolor: #fff;/* #221F20;*/
    --nav-border-color: #ede0d4; /* #c5baba;*/
    --gallery-color: #FFFFFF;
    --main-color: #FAFAFA;
    --default-border-radius: 2px;
    --btn-primary-color: #B3254D;
}

/************************* Universal Selector ***********************************/
* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    padding-top: 100px;
}

/***************************** NAVBAR ***************************************/
nav {
    background: var(--nav-bgcolor);
    color: var(--nav-fgcolor);
    font-size: 1.4rem;
    font-weight: bolder;
    height: 5rem;
    margin-top: 2px;
    margin-bottom: 20px;
    border: 1px solid var(--nav-border-color);
}
nav.navbar a.navbar-brand,
nav.navbar li.nav-item a.nav-link,
button.navbar-toggler .navbar-toggler-icon {
    text-decoration:  none;
    list-style: none;
    color: var(--nav-fgcolor);
}
.navbar-brand {
    font-family: 'Pacifico', cursive !important;
}
.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;;
}
nav .icon {
    display: none;
}
nav i {
    border: 1px solid var(--nav-border-color);
    padding: 1px 2px;
}

img#camagru-icon {
    width: 30px;
    height: 30px ;
}
.navbar-brand,
ul li.nav-item {
    transition: transform .3s ease-in;
}
.navbar-brand:hover,
ul li.nav-item:hover {
    transform: scale(1.2, 1.2);
}
i.fa {
    border: none;
}

/***************************** END OF NAVBAR ***************************************/
span.form-error {
    font-weight: lighter;
    font-size: 14px;
    color: red;
    display: block;
}
/*************************** Alerts ***************************/
.alert {
	padding: 20px;
	background-color: #90ee90;
	color: white;
  }
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}
/**************************** FORMS ************/
.form-container {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-container .auth-form {
    width: 70%;
	padding: 50px 50px;
    border: 1px solid var(--nav-border-color);
    border-radius: var(--default-border-radius);
    background-color: white;
}
.btn.btn-success,
.btn.btn-primary {
    width: 40%;
}

.btn.btn-success {
	background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
}
.form-control.input-error {
    border-color: var(--error-color);
}
.form-control.input-error:focus {
    box-shadow: 0 0 0 .2rem var(--error-color);
}
.header {
    margin: 10px auto;
    text-align: center;
}
.form-group label, .header {
    font-variant: small-caps;
    color: #ecbd51
}
.submit-group  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-group small {
    margin-right: 0;
}
.submit-group small a,
.signup-group a,
.signin-group a {
    text-decoration: none;
    color: var(--btn-primary-color);
}
.signup-group > *,
.signin-group > * {
    float: right;
    margin-left: 5px;
}
.signup-group > a {
    font-size: 1em;
    font-weight: normal;
}
.signup-group span, .signin-group span {
    color: #ecbd51;
    font-variant: small-caps;
}
button[name=register] {
    width: 100% !important;
}

/************************* GALLERY ******************************/

.container.gallery-container {
    margin-bottom: 100px;
}

section.img-post {
    border: 1px solid var(--nav-border-color);
    border-radius: var(--default-border-radius);
    background-color: var(--gallery-color);
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 40px auto;
    padding: 10px 0;
}

section.img-post img.main-image {
    width: 100%;
    height: auto;
}

section.post-infos {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    align-items: baseline;
    margin-top: 10px;
    margin-left: 5px;
}
.ca-border {
    border: 1px solid var(--nav-border-color);
    border-radius: var(--default-border-radius);
    margin-bottom: 1px;
}
.user-pseudo {
    margin-bottom: 8px;
    margin-left: 3px;
}
.like-icon {
    font-style: normal;
    font-family: "FontAwesome" !important;
    font-size: 2rem !important;
    color: #d80303;
}

.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: var(--btn-primary-color);
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}


span.likes-count {
    margin-left: 4px;
    font-weight: bolder;
}
.add-comment-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px;
}
.add-comment-area textarea {
    min-height: 25px;
    height: 40px;
    width: 85%;
    padding: 2px 2px;
    border: none;
}
textarea {
    resize: none;
}
.textarea:focus {
    border: none;
    outline: none;
}
.comment-display-area {
    overflow-y: scroll;
    max-height: 200px;
}
.comment-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.comment-area .comment-text, .comment-area .comment-pseudo {
    margin: 0 2px;
    padding: 0 2px;
}
.comment-area h6 {
    font-weight: bolder;
    letter-spacing: normal;
}
.btn-publish {
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
    color: white !important;
}
.btn-publish:hover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(179,37,77,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(179,37,77,1);
    box-shadow: 0px 0px 10px 1px rgba(179,37,77,1);
}


/*********** SLIDER TRACK STYLE **************/
input[type=range]{
    -webkit-appearance: none;
    margin-bottom: 40px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--btn-primary-color);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
/***********************************************************/

/************ Media Queries **********/

@media only screen and (max-width: 993px) {
    nav {
        height: auto;
    }
    .navbar .container-fluid {
        align-content: flex-start;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1rem;
    }
    .navbar-brand > * {
        font-size: 1rem !important;
    }
    
    nav.navbar .right-side {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: right;
        align-items: flex-end;
    }
    nav .icon {
        display: inline-block;
        justify-content: flex-end;
    }
    .navbar-toggle ul {
        display: none;
    }
    .navbar-toggle.toggle ul {
        display: flex;
        align-items: center;
    }
    .navbar-toggle.toggle ul li {
        margin-right: 0;
    }

}

@media only screen and (max-width: 512px) {
    .form-container form.auth-form {
        padding: 5px 5px;
        width: 100% ;
        max-width: 100%;
        margin: 0;
        line-height: 1em;
        font-size: 1em;
    }
    button[type=submit], input[type=submit], .auth-form a {
        font-size: 1em;
        line-height: 1em;
    }
}