@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "camera.css";

:root {
    --error-color: rgb(255, 167, 167);
    --nav-bgcolor: #FFFFFF;
    --nav-fgcolor: #221F20;
    --nav-border-color: #c5baba;
    --gallery-color: #FFFFFF;
    --main-color: #FAFAFA;
    --default-border-radius: 10px;
}

/************************* Universal Selector ***********************************/
* {
    letter-spacing: 1px;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    padding-top: 100px;
}
/***************************** NAVBAR ***************************************/
nav {
    background: var(--nav-bgcolor);
    color: var(--nav-fgcolor);
    font-size: 1.4rem;
    font-weight: bolder;
    height: 5rem;
    margin-top: 2px;
    margin-bottom: 20px;
    border: 1px solid var(--nav-border-color);
}
nav.navbar a.navbar-brand,
nav.navbar li.nav-item a.nav-link,
button.navbar-toggler .navbar-toggler-icon {
    text-decoration:  none;
    list-style: none;
    color: var(--nav-fgcolor);
}
.navbar-brand {
    font-family: 'Pacifico', cursive !important;
}
.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;;
}
nav .icon {
    display: none;
}
nav i {
    border: 1px solid var(--nav-border-color);
    padding: 1px 2px;
}

img#camagru-icon {
    width: 30px;
    height: 30px ;
    /* filter: invert(1); */
}
.navbar-brand,
ul li.nav-item {
    transition: transform .3s ease-in;
}
.navbar-brand:hover,
ul li.nav-item:hover {
    transform: scale(1.2, 1.2);
}
i.fa {
    border: none;
}

/************ Media Query **********/
@media (max-width: 991px) {
    nav {
        height: auto;
    }
    .navbar .container-fluid {
        align-content: flex-start;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav.navbar .right-side {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: right;
        align-items: flex-end;
    }
    nav .icon {
        display: inline-block;
        justify-content: flex-end;
    }
    .navbar-toggle ul {
        display: none;
    }
    .navbar-toggle.toggle ul {
        display: flex;
        align-items: center;
    }
    .navbar-toggle.toggle ul li {
        margin-right: 0;
    }

}
/***************************** END OF NAVBAR ***************************************/
span.form-error {
    font-weight: lighter;
    font-size: 14px;
    color: red;
    display: block;
}
/*************************** Alerts ***************************/
.alert {
	padding: 20px;
	background-color: #90ee90;
	color: white;
  }
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}
/**************************** forms ************/
.form-container {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-container .auth-form {
    width: 70%;
	padding: 50px 50px;
    border: 1px solid var(--nav-border-color);
    border-radius: var(--default-border-radius);
}
.btn.btn-success,
.btn.btn-primary {
    width: 40%;
}

.btn.btn-success {
	background-color: var(--nav-color);
    border-color: var(--nav-color); 
}

.form-control.input-error {
    border-color: var(--error-color);
}
.form-control.input-error:focus {
    box-shadow: 0 0 0 .2rem var(--error-color);
}

section.img-post {
    border: 1px solid var(--nav-border-color);
    border-radius: var(--default-border-radius);
    background-color: var(--gallery-color);
    width: 624px;
    height: 837px;
    margin: 0 auto;
    padding: 25px 0;
}

section.img-post img {
    width: 100%;
    height: auto;
}

section.post-infos {
    margin-top: 1px;
}

.ca-border {
    border: 1px solid var(--nav-border-color);
    border-radius: var(--default-border-radius);
}


